@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
  --color1: hsl(243, 100%, 93%);
  --color2: hsl(229, 7%, 55%);
  --color3: hsl(228, 56%, 26%);
  --color4: hsl(229, 57%, 11%);

  --bar: linear-gradient(90deg, hsl(6, 100%, 80%) 0%, hsl(335, 100%, 65%) 100%);
}
body {
  margin: 0;
  font-size: 14px;
}

.app {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  background: url(../images/bg-mobile.png) top / cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu {
  background-color: var(--color3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px;
  border-radius: 10px 80px 10px 10px;
  width: 250px;
  gap: 30px;
}
#id { 
  height: 40px; /*size the logo down to 40px tall*/
  object-fit: scale-down; /*size width to match aspect ratio of image*/
}

.operations {
  display: grid;
  grid-template-columns: repeat(3, 50px); /*size of grid cell*/
  grid-auto-rows: 50px;
  align-items: center;
  gap: 15px;
}
.op-icon {
  background-color: var(--color4);
  border-radius: 10px;
  height: 100%; /*make icons full height of grid cell*/
  display: flex;
  justify-content: center;
}

.op-icon > img {
  object-fit: none; /*keeps images at original size*/
}