@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
  --color1: hsl(243, 100%, 93%);
  --color2: hsl(229, 7%, 55%);
  --color3: hsl(228, 56%, 26%);
  --color4: hsl(229, 57%, 11%);

  --bar: linear-gradient(90deg, hsl(6, 100%, 80%) 0%, hsl(335, 100%, 65%) 100%);
}
.text-bold {
  font-weight: 700;
}
body {
  margin: 0;
  font-size: 14px;
  min-width: 350px;
  background: url(../images/bg-mobile.png) top / cover no-repeat;
}

.app {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.menu,.status {
  background-color: var(--color3);
  color: var(--color1)
}

/* -- -- Menu Components -- -- */

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px 80px 10px 10px;
  padding: 40px;
  width: 245px; /*width of menu minus padding*/
  /*use box-sizing: border-box next time*/
  gap: 33px; /*space between logo and operation buttons*/
}

#id { 
  height: 40px; /*size the logo down to 40px tall*/
  object-fit: scale-down; /*size width to match aspect ratio of image*/
}

.operations {
  display: grid;
  grid-template-columns: repeat(3, 48px); /*size of grid cell*/
  grid-auto-rows: 48px;
  align-items: center;
  gap: 15px;
}
.op-icon {
  background-color: var(--color4);
  border-radius: 8px;
  height: 100%; /*make icons full height of grid cell*/
  display: flex;
  justify-content: center;
}
.op-icon > img {
  object-fit: none; /*keeps images at original size*/
}

/* -- -- Status Components -- -- */

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 33px;
  width: 259px;
  /*Use box-sizing: border-box next time*/
  position: relative;
}

.meter {
  box-sizing: border-box; /*make height include border and padding*/
  height: 20px;
  padding: 3px;
  background-color: var(--color4);
  width: 100%;
  border-radius: 10px;
  margin-top: 16px; /*CSS gap breaks status card for unknown reason*/
}
.meter-fill {
  min-width: 15px;
  max-width: 81.5%; /*width of fill*/
  height: 100%;
  background: var(--bar);
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.meter-dot {
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background-color: var(--color1);
  box-shadow: 0 0 12px var(--color2);
  margin: 0 2.5px;
}
.meter-labels {
  margin: 12px 0 0 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: 700;
  padding-bottom: 12px;
}


/* -- -- Memory Remaining Card -- -- */

.remaining {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--color1);
  /* padding: 13px 43px; */
  border-radius: 10px;
  width: 180px;
  height: 72px;
  position: absolute;
  top: 124px;
}
.triangle {
  display: none;
}

.stat {
  color: var(--color4);
  font-size: 36px;
  padding-right: 12px;
}
.stat-label {
  color: var(--color2);
  text-transform: uppercase;
  font-size: 12px;
}

.attribution {
  margin-top: 50px;
  position: absolute;
  font-family: monospace;
  font-size: 11px;
  text-align: center;
  bottom: 10px;
  color: white;
}

.attribution a {
  color: white;
}


@media (min-width: 700px) {
  body {
    background: var(--color4) url(../images/bg-desktop.png) 0 45vh / contain no-repeat;
    height: 70vh;
  }
  .app {
    height: auto;
    flex-direction: row;
    align-items: flex-end;
    margin: 30vh 60px;
  }

  .used {
    align-self: flex-start;
  }
  .status {
    width: 540px;
  }
  .remaining {
    top: -48px;
    right: 32px;
  }
  .triangle {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: var(--color1);
    clip-path: polygon(100% 0%, 00% 100%, 100% 100%);
    transform: rotate(-90deg);
    right: 32px;
    top: 5px;
  }
}

