@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
  margin: 0;
}

.app {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  background: url(../images/bg-mobile.png) top / cover no-repeat;
}